{% extends "admin/base.html" %}
{% load company_tags %}
{% block title %}{{ block.super }}{% endblock %}
{% block branding %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
  {% if request.user.is_superuser %}
  {% active_companies as companies %}
  <form style="display:inline-block;margin-left:1em;" method="get" action="">
    <select onchange="if(this.value){location.href='//' + this.value + '.{{ root_domain }}{% if request.get_port != '80' and request.get_port != '443' %}:{{ request.get_port }}{% endif %}{% url 'admin:index' %}';}">
      <option value="">Switch company</option>
      {% for c in companies %}
      <option value="{{ c.slug_subdomain }}">{{ c.name }}</option>
      {% endfor %}
    </select>
  </form>
  {% endif %}
{% endblock %}
{% block nav-global %}{% endblock %}
